<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stavnychyy.shoppinglist.common">

  <application
      android:icon="@mipmap/msla_common_launcher_icon"
      android:label="@string/msla_common_app_name"
      android:roundIcon="@mipmap/msla_common_launcher_icon_round"
      android:supportsRtl="false"
      android:theme="@style/AppTheme" />

</manifest>