<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stavnychyy.shoppinglist">

  <application
      android:name=".ShoppingListApplication"
      android:allowBackup="true"
      android:fullBackupContent="@xml/msla_backup_rules">
    <activity android:name="com.stavnychyy.shoppinglist.view.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>